h1 Act II - Part 2
.container
  .buttons
    button#mxcity.boton Mexico City
    button#zoomIn.boton zoom in
    button#casaDeLosPueblos.boton  Casa de los Pueblos &quot;Samir Flores Soberanes&quot;
    button#zacatepec.boton  Santa Mar&iacute;a Zacatepec
    button#mexquititlan.boton  Santiago Mexquititl&aacute;n
    button#atlapulco.boton  San Gregorio Atlapulco
    a.link-js(data-page='acto2-parte1',href=`/${lang}/acto2-parte1.html`)  Part 1 
  #flash-notice.flash-notice Click for story
  .mapa-text-container
    .mapaybotones
      #map.mapStyle a map
    #displayArea.displayText
