h1 Act I
.container
  .buttons
    button#mxcity.boton Mexico City
    button#zoomIn.boton zoom in
    button#casaDeLosPueblos.boton Casa de los Pueblos y Comunidades Ind&iacute;genas &quot;Samir Flores Soberanes&quot;
    button#corazonOtomi.boton La Casona
    button#roma18.boton Roma 18
    button#zacatecas74.boton Zacatecas 74
    button#guanajuato200.boton Guanajuato 200
    button#londres7.boton Londres 7
    button#mexquititlan.boton Santiago Mexquititl&aacute;n
    button#amilcingo.boton Amilcingo Temoac
  #flash-notice.flash-notice Click for story
  .mapa-text-container
    .mapaybotones
      #map.mapStyle a map
    #displayArea.displayText
