h1 Act II - Part 1
.container
  .buttons
    button#mxcity.boton Mexico City
    button#zoomIn.boton zoom in
    button#atlapulco.boton San Gregorio Atlapulco
    button#ejido.boton Ejido de San Gregorio Atlapulco
    button#bloqueo.boton  Site of Blockage
    a.link-js(data-page='acto2-parte2',href=`/${lang}/acto2-parte2.html`)  Part 2 
  #flash-notice.flash-notice Click for story
  .mapa-text-container
    .mapaybotones
      #map.mapStyle a map
    #displayArea.displayText
