h1 Act III
.container
  .buttons
    button#mxcity.boton Mexico City
    button#zoomIn.boton zoom in
    button#oldAbbey.boton Old location of the San Antonio Abad Textile Workshop
    button#metro.boton Metro San Antonio Abad
    button#topeka.boton Topeka Factory Distaster Site
    button#bolivar.boton Bol&iacute;var and Chimalpopoca
    button#puntoGozadera.boton Punto Gozadera
    a.link-js(data-page='epilogo', href=`/${lang}/epilog.html`) Epilogue
  #flash-notice.flash-notice Click for story
  .mapa-text-container
    .mapaybotones
      #map.mapStyle a map
    #displayArea.displayText
