style.
  .epilogue-text-container {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  }
  .epilogue-texto {
  padding: 4px;
  background-color: rgba(66, 66, 66, 0.3);
  }
  .menu-container {
    display: none;
  }

.epilogue-text-container
  .epilogue-texto
    p=trans2('epilogo_1')
    p=trans2('epilogo_2')