style.
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

.epilogue-text-container
  .epilogue-texto
    p=trans2('epilogo_1')
    p=trans2('epilogo_2')
    div
      a.link-js(data-page='index', href=`/${lang}/index`, style="font-size: 24px;")
        span=trans2('epilogo_3')
