.footer-secondary-links
    menu.menu.menu__es
        div
            a.link-js(data-page='referencias', href='/es/referencias')
                span=trans('es', dbES, 'footer1')
        div
            a.link-js(data-page='creditos', href='/es/creditos')
                span=trans('es', dbES, 'footer2')
    menu.menu.menu__en
        div
            a.link-js(data-page='referencias', href='/en/referencias')
                span=trans('en', dbEN, 'footer1')
        div
            a.link-js(data-page='creditos', href='/en/creditos')
                span=trans('en', dbEN, 'footer2')
    .follow 
        a(href='https://www.instagram.com/piraran.ensamble/' target='_blank') 
            i.fa.fa-instagram
        a(href='https://www.youtube.com/@piraran/' target='_blank') 
            i.fa.fa-youtube
        a(href='https://piraran.bandcamp.com/' target='_blank')
            i.fa.fa-bandcamp