img(style="max-width: 500px; margin: 0 auto; display: block;" src="/assets/images/la-fabrica-colapsada.webp", alt="La Fabrica Colapsada")

h1.landing-page__title La Fabrica Colapsada

div.main-content
  p=trans2('index1')
  p=trans2('index2')
  p=trans2('index3')
  p=trans2('index4')
