div.landing-page       
  h1.landing-page__title La Fabrica Colapsada
  img.landing-page__img(src="/assets/images/la-fabrica-colapsada.jpg", alt="La Fabrica Colapsada")
  div.landing-page__contents
    a.landing-page__link.link-js(data-page='index', href="/es/index.html", data-start-playback="true") Español       
    a.landing-page__link.link-js(data-page='index', href="/en/index.html", data-start-playback="true") English      