h1=trans2('referencias1_title')

div.main-content
    //- h2=trans2('referencias2_intro')
    p.references-description Análisis de la siniestralidad de los sismos ocurridos en septiembre de 2017 en México:
        a(href='https://www.cnsf.gob.mx/EntidadesSupervisadas/InstitucionesSociedadesMutualistas/Informacin%20Tcnica%20de%20Mercado/Informaci%C3%B3n%20sismos%207%20y%2019%20de%20septiembre%20de%202017.pdf') https://www.cnsf.gob.mx/EntidadesSupervisadas/InstitucionesSociedadesMutualistas/Informacin%20Tcnica%20de%20Mercado/Informaci%C3%B3n%20sismos%207%20y%2019%20de%20septiembre%20de%202017.pdf
    p.references-description Un símbolo de la resistencia republicana, ‘okupado’:
        a(href='https://elpais.com/cultura/2016/01/20/actualidad/1453324427_644000.html') https://elpais.com/cultura/2016/01/20/actualidad/1453324427_644000.html
    p.references-description This house belongs to everyone:
        a(ref='https://radicalhousingjournal.org/wp-content/uploads/2023/07/RHJ_Issue-5.1_16_Conversation_Series_Otomi_251-263.pdf') https://radicalhousingjournal.org/wp-content/uploads/2023/07/RHJ_Issue-5.1_16_Conversation_Series_Otomi_251-263.pdf
    p.references-description Los olvidados del sismo: 11 meses de la toma otomí del INPI: 
        a(ref='https://www.infobae.com/america/mexico/2021/09/19/los-olvidados-del-sismo-11-meses-de-la-toma-otomi-del-inpi/') https://www.infobae.com/america/mexico/2021/09/19/los-olvidados-del-sismo-11-meses-de-la-toma-otomi-del-inpi/
    p.references-description Migración indígena: la toma otomí del INPI por una vida digna: 
        a(ref='https://piedepagina.mx/migracion-indigena-la-toma-otomi-del-inpi-por-una-vida-digna/') https://piedepagina.mx/migracion-indigena-la-toma-otomi-del-inpi-por-una-vida-digna/    
    p.references-description Verificados: 
        a(ref='https://ijnet.org/es/story/verificado19s-una-plataforma-contra-la-desinformaci%C3%B3n-tras-el-sismo-de-m%C3%A9xico') https://ijnet.org/es/story/verificado19s-una-plataforma-contra-la-desinformaci%C3%B3n-tras-el-sismo-de-m%C3%A9xico
    p.references-description Los otomies de "La Casona" en la colonia Roma: 
        a(ref='https://secuencia.mora.edu.mx/index.php/Secuencia/article/view/1091/965') https://secuencia.mora.edu.mx/index.php/Secuencia/article/view/1091/965
    p.references-description #BrigadasAutonomas Alto al desprecio racista, la discriminación y el intento de despojo territorial y desplazamiento forzado de las familias otomíes en la colonia Condesa: 
        a(ref='https://brigadasautonomasblog.wordpress.com/2017/09/28/brigadasautonomas-alto-al-desprecio-racista-la-discriminacion-y-el-intento-de-despojo-territorial-y-desplazamiento-forzado-de-las-familias-otomies-en-la-colonia-condesa/') https://brigadasautonomasblog.wordpress.com/2017/09/28/brigadasautonomas-alto-al-desprecio-racista-la-discriminacion-y-el-intento-de-despojo-territorial-y-desplazamiento-forzado-de-las-familias-otomies-en-la-colonia-condesa/    
    p.references-description Otomíes de la Colonia Roma: Sobrevivientes en la gran CDMX: 
        a(ref='https://www.arenapublica.com/politicas-publicas/otomies-de-la-colonia-roma-sobrevivientes-en-la-gran-cdmx-arenadocs') https://www.arenapublica.com/politicas-publicas/otomies-de-la-colonia-roma-sobrevivientes-en-la-gran-cdmx-arenadocs
    p.references-description Los daños de un edificiode interés histórico-comunitario en San Gregorio Atlapulco,Xochimilco: 
        a(ref='https://revistas.inah.gob.mx/index.php/rutasdecampo/article/view/14657/15709') https://revistas.inah.gob.mx/index.php/rutasdecampo/article/view/14657/15709
    p.references-description AFECTACIONES EN SAN GREGORIO ATLAPULCO, XOCHIMILCO: 
        a(ref='https://archivos.juridicas.unam.mx/www/bjv/libros/12/5854/8.pdf') https://archivos.juridicas.unam.mx/www/bjv/libros/12/5854/8.pdf    
    p.references-description Bodies-holding-bodies: The trembling of women’s territorio-cuerpo-tierra and the feminist responses to the earthquakesin Mexico City: 
        a(ref='https://www.tandfonline.com/doi/epdf/10.1080/23802014.2022.2123953?needAccess=true') https://www.tandfonline.com/doi/epdf/10.1080/23802014.2022.2123953?needAccess=true
    p.references-description MEMORIA A PARTIR DE UN SISMO: LA FÁBRICA DE CHIMALPOPOCA: 
        a(ref='https://revistamemoria.mx/?p=1839') https://revistamemoria.mx/?p=1839
    p.references-description A un año del 19S, ¿qué pasaba realmente en el edificio de Chimalpopoca y Bolívar?: 
        a(ref='https://www.chilango.com/noticias/reportajes/chimalpopoca-y-bolivar/') https://www.chilango.com/noticias/reportajes/chimalpopoca-y-bolivar/    
    p.references-description VIDEO: Así se derrumbó el edificio en Chimalpopoca en CDMX: 
        a(ref='https://www.arenapublica.com/articulo/2017/09/20/7310/bolivar-y-chimalpopoca-edificio-colonia-obrera-se-cae-colapsa-sismo-video') https://www.arenapublica.com/articulo/2017/09/20/7310/bolivar-y-chimalpopoca-edificio-colonia-obrera-se-cae-colapsa-sismo-video
    p.references-description Memorias imbricadas: terremotos en México, 1985 y 2017: 
        a(ref='https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S0188-25032018000500009') https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S0188-25032018000500009
    p.references-description Probing environmental and tectonic changes underneath Mexico
City with the urban seismic field: 
        a(ref='https://se.copernicus.org/articles/14/529/2023/se-14-529-2023.pdf') https://se.copernicus.org/articles/14/529/2023/se-14-529-2023.pdf    
    p.references-description 65 Datos en datos.gob.mx para "Sismo": 
        a(ref='https://datos.gob.mx/busca/dataset?q=Sismo&sort=score+desc%2C+metadata_modified+desc&page=3') https://datos.gob.mx/busca/dataset?q=Sismo&sort=score+desc%2C+metadata_modified+desc&page=3
    p.references-description Wavelet Transform and Its Application in Earthquake Engineering: 
        a(ref='https://ieeexplore.ieee.org/document/6977796') https://ieeexplore.ieee.org/document/6977796
    p.references-description Pies en la tierra: Crónicas de Septiembre (2018). Roberto Abad, Saraí Campech, Alberto Chimal, Maia F. Miret, Edson Lechuga, Jaime Mesa, David Miklos, Juan Carlos Quezadas, Ana Romero, Julia Santibañez, Karen Villeda.Editado por Graciela S. Silva y Raquel Sánchez Jiménez. 

    //- h2=trans2('referencias2_act1')
    //- h2=trans2('referencias2_act2_1')
    //- h2=trans2('referencias2_act2_2')
    //- h2=trans2('referencias2_act3')
    //- h2=trans2('referencias2_epilogue')
