@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #111;
  color: white;
  font-size: 22px;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}
#root {
  padding-left: 16px;
  padding-right: 16px;
}

html.epilogue,
body.epilogue {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.map-text-container {
  display: none;
}

.map-text-container p {
  margin-bottom: 16px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
}

body[data-audio-player-shown] .landing-page {
  height: calc(100vh - 120px);
}

.landing-page__title {
  margin-top: 0;
  padding-top: 24px;
  font-family: "Bungee Tint", sans-serif;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.landing-page__contents {
  background-color: transparent;
  z-index: 1;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.landing-page__link {
  padding: 8px;
  margin-right: 20px;
  color: #c90a01;
  font-family: "Bungee Tint", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .landing-page__title {
    font-size: 60px;
  }

  .landing-page__link {
    font-size: 30px;
  }
}

.landing-page__img {
  width: 100%;
  max-width: 70vh;
  margin-bottom: 16px;
  /* opacity: 0.5; */
  display: none;
}

.leaflet-container {
  height: 600px;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 0;
  padding-top: 32px;
  padding-bottom: 0;
  margin-bottom: 32px;
}

.menu-container {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.menu {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  margin: auto;
  display: none;
  padding-left: 0;
  margin-bottom: 32px;
}

.menu-container,
footer {
  display: none;
}

body[data-lang="es"] .menu__es,
body[data-lang="es"] footer,
body[data-lang="en"] .menu__en,
body[data-lang="en"] footer {
  display: flex;
}

body[data-lang="es"] .menu-container,
body[data-lang="en"] .menu-container {
  display: block;
}
body[data-page="/"] .menu-container,
body[data-page="epilogo"] .menu-container {
  display: none;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  width: 100%;
}

.waveform-container {
  display: none;
  padding: 24px;
  padding-left: 72px;
  position: relative;
  z-index: 2;
}

.player-control {
  position: absolute;
  font-size: 48px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  appearance: none;
  color: yellow;
  background-color: transparent;
  /* remove all button styles */
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

#pause-button.player-control {
  display: none;
}

.menu > div {
  background-color: #111;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 1.2;
  font-size: 24px;
}

.menu a > span {
  display: block;
}

.dash {
  display: none !important;
}

body[data-page]:not([data-page="/"]) .footer {
  min-height: 40px;
  padding-bottom: 40px;
}

a {
  color: #c00;
}
.go-to {
  color: yellow;
  text-transform: uppercase;
  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.index__first-paragraph {
  display: flex;
  gap: 24px;
  /* under md flex-col */
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main-content {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 32px;
}

.texto {
  color: white;
  margin-bottom: 16px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 32px;
}

.mapa-text-container {
  width: 100%;
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .mapa-text-container {
    flex-wrap: wrap;
  }
}

.mapa-container {
  width: 100%;
}

.mapaybotones {
  width: 100%;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
}

.mapa {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .mapaybotones {
    position: relative;
  }
}

.displayText {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 32px;
}
.displayText:empty {
  display: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}
.boton {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  appearance: none;
  padding: 8px;
  font-size: 16px;
}
.boton.selected {
  color: yellow;
  border-color: yellow;
}

@keyframes flashColor {
  0% {
    color: yellow;
  }
  100% {
    color: white;
  }
}

.flash-notice {
  opacity: 0;
  transition: all 2s;
  animation: flashColor 1s infinite;
  animation-timing-function: ease;

  position: relative;
  top: -16px;
}

.flash-notice__flash {
  @media (max-width: 768px) {
    opacity: 1;
  }
}

.epilogue-text-container {
  padding: 0;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  z-index: 2;
}
.epilogue-texto {
  padding: 4px;
  background-color: rgba(66, 66, 66, 0.3);
}

.references-description a {
  margin-left: 16px;
}

footer {
  /* display: flex; */
  justify-content: center;
  gap: 16px;
  padding-top: 8px;
}

footer .menu-container {
  padding: 0;
}
footer div {
  width: 50%;
}
footer menu.menu > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer menu a {
  display: flex;
  gap: 4px;
}
footer menu a > span.dash {
  display: inline-block !important;
}
footer menu .hidden {
  display: flex !important;
}

.follow {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.follow a {
  padding: 8px;
}

.footer-secondary-links .menu {
  margin-bottom: 0;
}
