extends page-template.pug 

block styles
    style.
        body {
            padding-top: 0;
        } 
        .main-menu {
            display: none;
        }

block root 
    include partials/landing-page.pug
    