doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title La Fabrica Colapsada
  block styles
body 
  menu.main-menu
    a.link-js(data-page='index') Index
    a.link-js(data-page='acto1') Acto 1
  audio(controls='')
    source(src='/assets/audio/no-dither.mp3' type='audio/mpeg')
  #root
    block root
  script(src='/assets/js/index.js', type='module')
